body {
  margin: 0;
  font-family: sans-serif;
  color: white;
  background: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
}

.scoreboard {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  font-size: 24px;
  width: 100%;
  /*max-width: 90vw;*/
  margin: 0 auto;
}

.match-info-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#match-info-text {
  font-size: 20px;
  font-weight: bold;
  background: #222;
  padding: 8px 32px;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0,0,0,0.3);
}

.player {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-width: 100px;
  gap: 10px;
}

.player-info {
  background: #111;
  padding: 8px 20px;
  border-radius: 8px;
  display: flex;
  gap: 20px;
  align-items: center;
}

.player-left .name {
  text-align: right;
}

.player-right{
  justify-content: flex-end;
}

.player-right .name {
  text-align: left;
}

.score {
  font-size: 36px;
  font-weight: bold;
}

.team-info {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  font-size: 16px;
  width: 100%;
}

.team {
  display: flex;
  align-items: center;
}

.team-left {
  justify-content: flex-start;
  display: flex;
  width: 100%;
}

.team-right {
  justify-content: flex-end;
  display: flex;
  width: 100%;
}

.team-info-container {
  background: #111;
  padding: 4px 8px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.team-name {
  margin-right: 10px;
  margin-left: 10px;
}

.team-score {
  font-weight: bold;
}
